.page {
  width: 100%;
  padding: 3rem 0 3rem 0;
}

.page-main {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .page-main {
    max-width: 1200px;
  }
}

/* ===========================
   ABOUT TESTIMONIAL SECTION
   =========================== */

/* TOP CONTENT LAYOUT */
.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-left {
  flex: 1;
}

.about-subtitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6d6d6d;
  margin: 0;
  margin-bottom: 8px;
}

.about-title {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}

/* RIGHT SIDE PARAGRAPH */
.about-right {
  flex: 1;
  font-size: 17px;
  color: #6b6b6b;
  line-height: 1.8;
}
.about-right p {
  margin: 0;
}

.about-right img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/3;
  border-radius: 20px;
}

/* STATS BOXES GRID */
.about-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 3rem 0;
}

/* SINGLE STAT BOX */
.about-stat-box {
  background: #efefef;
  padding: 25px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ICON STYLE */
.about-icon svg {
  font-size: 55px;
  color: #113f67;
}

/* SCORE */
.about-score {
  font-size: 28px;
  font-weight: 800;
  color: #113f67;
  margin: 0;
  margin-bottom: 10px;
}

/* LABEL */
.about-label {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}
.about-grid-item h3{
  color: #113f67;
  margin-top: 0;
}
.about-grid-item {
  padding: 1rem;
  background-color: #efefef;
  border-radius: 10px;
}
.about-grid-item ul li,
.about-grid-item p {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 1.8;
}
.about-grid-item h5{
margin: 0;
}
.about-grid-item ul{
padding-left: 15px;
}

/* ===========================
   RESPONSIVE DESIGN
   =========================== */

/* Tablets */
@media (max-width: 900px) {
  .about-main {
    flex-direction: column;
    gap: 30px;
  }

  .about-title {
    font-size: 34px;
  }

  .about-stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .about-title {
    font-size: 28px;
  }

  .about-stats {
    grid-template-columns: repeat(1, 1fr);
  }
}
