.Categories {
  width: 100%;
  padding: 60px 0;
  background-color: #d8edff;
}

.Categories-main {
  /* width: 100%; */
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .Categories-main {
    max-width: 1200px;
  }
}

/* HEADER */
.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.categories-header h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.view-btn {
  background: #fdf5aa;
  padding: 14px 35px;
  border: 1px solid #113F67;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* GRID */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* CATEGORY CARD */
.category-card {
  background: white;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  /* border: 2px solid #34699A; */
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}

/* ICON CIRCLE */
.cat-icon span {
  width: 50px;
  height: 50px;
  background: #113F67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.cat-text h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.cat-text p {
  color: #666;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories-header h2 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .categories-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .categories-header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .view-btn {
    width: 100%;
  }
}
