.college {
  width: 100%;
  padding: 1.5rem 0 3rem 0;
}

.college-main {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.college-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
}

.pagination button.active {
  background: #113f67;
  color: #fff;
  border-color: #113f67;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 1200px) {
  .college-main {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {

  .college-top {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}
