.college {
  width: 100%;
  padding: 1.5rem 0 3rem 0;
}

.college-main {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.college-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .college-main {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {

  .college-top {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}
