.college-detail-img img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.college-top h2{
    margin: 0;
}
.college-detail-info {
  margin-top: 20px;
  margin-bottom: 1rem;
}

.college-detail-info h3 {
  margin-bottom: 10px;
  color: #113f67;
}

.college-category-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.college-category-tag {
  background: #FDF5AA;
  padding: 6px 14px;
  border-radius: 25px;
  color: black;
  font-size: 13px;
  font-weight: 600;
}

.college-box {
  display: flex;
  gap: 2rem;
}

.college-box-left {
  width: 70%;
}
.college-box-right {
  width: 30%;
}

.college-box-right-box {
  align-items: center;
  /* box-shadow: rgba(3, 23, 9, 0.1) 0px 1px 3px; */
  display: flex;
  border: .1px solid gray;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.college-box-right-image {
  width: 40%;
  display: flex;
}
.college-box-right-box img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 0px 0 20px;
}
.college-box-right h3{
    margin: 0;
    margin-bottom: 1.5rem;
}

.college-box-right-detail {
  width: 60%;
  padding: 5px 10px;
}

.college-box-right-detail h6 {
  font-size: 0.87rem;
  margin: 0;
  margin-bottom: 5px;
}
.college-box-right-detail p {
  font-size: 12px;
  margin: 0;
}
@media (max-width: 900px) {
  .college-box {
    flex-direction: column;
  }

  .college-box-left {
    width: 100%;
  }
  .college-box-right {
    width: 100%;
  }
}
