.modal-overlay {
  position: fixed;
  inset: 0;
  background: #8c8c8c87;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-box {
  width: 70%;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.modal-item {
  display: flex;
  position: relative;
}

.closebtn {
  position: absolute;
  top: 3%;
  right: 2%;
  color: white;
  cursor: pointer;
  z-index: 9;
}
.closebtn svg {
  font-size: 25px;
}

.modal-box-left {
  width: 50%;
}

.modal-box-left img {
  width: 100%;
  object-fit: cover;
  display: flex;
  height: 100%;
}

.modal-box-right {
  width: 50%;
  padding: 4rem 2rem;
  background: #0a2842;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.modal-box-right:before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30%;
    top: -100px;
    left: -100px;
    transform: rotate(25deg);
    z-index: 0;
}
.modal-box-right .contact-form {
    position: relative;
    z-index: 9;
}

@media (max-width: 900px) {
  .modal-box {
    width: 90%;
  }
  .modal-box-left {
    display: none;
  }
  .modal-box-right {
    width: 100%;
    padding: 1.5rem;
  }
}
