
@media screen and (min-width: 1200px) {
  .Home-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Home {
    width: 100%;
    height: 100%;
    height: 90vh;
    overflow: hidden;
  }
  .Home-main {
    width: 100%;
  }
}