.navbar-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* --------- TOP BAR --------- */
.top-bar {
  background: #34699A;
  color: white;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.top-bar span {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.top-left {
  display: flex;
  align-items: center;
}
.top-left a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

/* --------- MAIN NAVBAR --------- */
.navbar {
  background: #113F67;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Area */
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 15%;
}

.logo img {
  width: 100%;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
}

.logo-text small {
  font-size: 12px;
  font-weight: normal;
}

/* Menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 28px;
  font-size: 18px;
  margin: 0;
}

.nav-menu li{
  padding: 20px 0;
}
.nav-menu li a{
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #FDF5AA;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}
.social-icons svg{
  background-color: white;
  color: #113F67;
  border-radius: 50%;
  padding: 8px;
}

.social-icons svg:hover {
  background-color: #FDF5AA;
  transition: 0.2s ease;
}

@media screen and (min-width: 1200px) {
 .navbar-main {
    max-width: 1200px;
  }
}

/* --------- RESPONSIVE --------- */
@media (max-width: 1024px) {
  .nav-menu {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    display: none; /* You can later replace with hamburger menu */
  }
}


/* Hide desktop social icons on mobile */
.mobile-menu-icon {
  display: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

/* Sidebar default */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background: #113F67;
  color: white;
  transition: 0.3s ease;
  padding: 20px;
  z-index: 9999;
}
.sidebar.open {
  right: 0;
}

.close-btn {
  text-align: right;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-menu li {
  margin: 12px 0;
}

.sidebar-menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.sidebar-top-items p {
  margin: 10px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-social-icons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.sidebar-social-icons svg {
  background: white;
  color: #113F67;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
}

/* Backdrop */
.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 9990;
}

.service-hover:hover .mega-dropdown {
  display: flex
}

.mega-dropdown:hover {
  display: flex !important;
}


.mega-col ul{
  padding: 0;
}

.mega-col ul li{
  display: flex;
  padding: 10px 0;
  border-bottom: .1px solid #34699A;
}

.mega-dropdown {
    display: none;
    /* width: 100%; */
    background: #113F67 !important;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px !important;
    position: absolute;
    top: 15%;
    right: 46%;
    z-index: 9999;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {

  .logo {
  width: 40%;
}
  .top-bar{
    display: none;
  }
  .sidebar {
  display: block;
}
  .nav-menu {
    display: none;
  }

  .desktop-social {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .sidebar-top-items{
    position: absolute;
    bottom: 4%;
    left: 0;
    padding: 10px;
  }
  .sidebar-menu li{
    border-bottom: .5px solid gray;
    padding-bottom: 15px;
  }
  .sidebar-top-items p{
   background-color: #FDF5AA;
   color: #34699A;
   padding: 10px;
   border-radius: 50px;
   width: 98%;
   display: flex;
   align-items: center;
   justify-content: center;
  }
}