.footer {
  background: linear-gradient(90deg, #113f67, #34699a);
  color: white;
  padding: 60px 0px 0 0px;
  font-family: sans-serif;
}

.footer-main {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
/* Layout container */
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

/* Column Title */
.footer-col h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Company text */
.footer-col p {
  font-size: 14px;
  line-height: 26px;
}
.footer-col img {
  width: 30%;
  object-fit: cover;
}

/* Icons section */
.footer-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  font-size: 14px;
}

/* Important Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-links li:hover {
  color: #fdf5aa;
}

/* Social section */
.follow-title {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social span {
  background: #0a2842;
  padding: 14px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  width: 20px;
  height: 20px;
  text-align: center;
}

.footer-social span:hover {
  background: white;
  color: black;
}

/* Bottom area */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.25);
  font-size: 12px;
}

.footer-bottom p {
  margin-bottom: 0;
}
.footer-bottom p a {
  color: #fdf5aa;
  text-decoration: none;
}

/* --------- RESPONSIVE --------- */
@media screen and (min-width: 1200px) {
  .footer-main {
    max-width: 1200px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-bottom {
    flex-direction: column;
  }
}
