.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 30%;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  border: 1px solid #34699A;
  border-radius: 50px;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #34699A;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 900px) {
  .group {
    width: 100%;
  }
}
