.course-card {
  /* width: 100%; */
  background: #f3f9ff;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 3rem;
  /* border: 2px solid #daedff; */
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.course-card:hover {
  transform: translate(0px, -3px);
  box-shadow: 0px 3px 3px 0px #00000040;
}

/* IMAGE */
.course-img img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
  object-fit: cover;
}

.course-details {
  padding: 0 10px 10px 10px;
}

/* TITLE */
.course-title {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 0;
}

.course-info p {
  color: rgb(53, 53, 53);
}

/* PRICE + BUTTON */
.course-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enroll-btn {
  width: 90%;
  background: #113f67;
  border: none;
  /* border: 1px solid #113F67; */
  color: white;
  padding: 12px 25px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.enroll-btn:hover {
  background: #34699a;
}
