.executive {
  width: 100%;
  padding: 80px 0;
}

.executive-main {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (min-width: 1200px) {
  .executive-main {
    max-width: 1200px;
  }
}

/* ---------------------
   CARD STYLING
---------------------- */
.card {
  background: #d8edff;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #d9fff4;
}

.card:hover {
  background-color: #34699a;
  transform: translateY(-5px);
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
.card:hover h3,
.card:hover p {
  color: white;
}
.card:hover .icon-box {
  color: black;
  background-color: #d8edff;
}

/* ICON CIRCLE */
.icon-box {
  width: 120px;
  height: 120px;
  background: #34699a;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

/* TITLE */
.card h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
/* DESCRIPTION */
.card p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
}

/* ---------------------
   RESPONSIVE
---------------------- */
@media (max-width: 900px) {
  .executive-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
