/* ===========================
   MAIN BANNER SECTION
=========================== */
.banner {
  width: 100%;
  height: 82vh;
  background: linear-gradient(135deg, #34699a, #113f67);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Abstract background shapes */
.banner::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30%;
  top: -100px;
  left: -100px;
  transform: rotate(25deg);
}

.banner::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 40%;
  bottom: -80px;
  right: -80px;
  transform: rotate(-20deg);
}

/* Container */
.banner-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .banner-main {
    max-width: 1200px;
  }
}

/* ===========================
   LEFT CONTENT STYLING
=========================== */

.banner-left {
  width: 50%;
  color: white;
  z-index: 2;
}

.banner-left h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 800;
}

.banner-left p {
  font-size: 18px;
  margin: 20px 0 40px 0;
  line-height: 30px;
  color: #dff7f3;
}

.banner-btn {
  padding: 15px 0px;
  background: #fdf5aa;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  color: #113f67;
  font-weight: 600;
  transition: 0.2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 40%;
}

/* ===========================
   RIGHT SECTION (IMAGE + SHAPES)
=========================== */

.banner-right {
  width: 50%;
  /* position: relative; */
  /* height: 100%; */
}

.circle-bg {
  width: 650px;
  height: 650px;
  background: radial-gradient(circle, #113f67, #0a2842);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -20%;
  z-index: 1;
}

.banner-img {
  position: absolute;
  width: 42%;
  z-index: 2;
  right: 5%;
  bottom: 0;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 900px) {
  .banner-btn {
    width: 100%;
  }
  .banner {
    height: auto;
    padding: 60px 0;
  }

  .banner-main {
    flex-direction: column;
    text-align: center;
  }

  .banner-left,
  .banner-right {
    width: 100%;
  }
  .banner-right {
    height: 36vh;
  }

  .banner-left h1 {
    font-size: 42px;
  }

  .banner-img {
    width: 320px;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -10%;
  }

  .circle-bg {
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
